@charset "utf-8";

html, body {height: 95%}

  #main{
    background-color: white;
    border : 0px solid;
    border-color: yellow; /*노랑테두리*/
    position: relative;
    padding-left: 20px; padding-right: 20px;
    height: 90vh;
  }

.lambylogo{
  padding: 10px;
  width: 150px;
  height: 100px;
  position: relative;
  display: table; margin-top: 40px; margin-left: auto; margin-right: auto;
}

.lamyisthefuture{
  background-color: white;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 80px;
  border : 1px solid;
  border-color: black;
  position: relative;
  display: table; margin-top: 5px; margin-left: auto; margin-right: auto;
}

.Submenus{
  background-color: white;
  padding: 5px;
  text-align: center;
  width: 270px;
  height: 67.5px;
  border : 1px solid;
  border-color: black;
  position: relative;
  display: table; margin-top: 20px; margin-left: auto; margin-right: auto;
}


.aboutus {
    float: left;
    width: 65.5px;
    height: 65.5px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: black;
  }

.menu {
    float: left;
    width: 65.5px;
    height: 65.5px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: black;
  }

.hours {
    float: left;
    width: 65.5px;
    height: 65.5px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: black;
  }

.contactus {
    float: left;
    width: 65.5px;
    height: 65.5px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: black;
  }
